@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> signInManager
@if(signInManager.IsSignedIn(User))
{

}
else
{
    <ul class="nav navbar-nav">
        @*name, method name, controller name*@
        <li class="mr-3">
            @*@Html.ActionLink("Sign Up","Register","Account", routeValues:null, htmlAttributes: new {id = "registerLink"})*@
            <a class="nav-link text-dark" id="registerLink" asp-controller="Account" asp-action="Register">Sign Up</a>
        </li>
        <li>
            @*@Html.ActionLink("Sign In","Login","Account", routeValues:null, htmlAttributes: new {id = "loginLink"})*@
            <a class="nav-link text-dark" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
        </li>
    </ul>
}